{% extends 'layout.html' %}
{% block content %}
<head>
    {{ EQinput }} = 
</head>
<body>
    <p id="answerValue">{{ answer }}</p>


    <form id="saveVarForm">
        <select name="varName" required>
            {% for var in variables %}
                <option value="{{ var[0] }}">{{ var[0] }} = {{ var[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="submitText">Save to Variable</button>
    </form>

    <form id="saveResultForm">
        <div class="input-container">
            <input name="keyword" type="text" class="input" placeholder=" " required>
            <label name="keyword" class="input">Keyword to save result</label>
        </div>
        <button type="submit" class="submitText">Save to Table</button>
    </form>

    <p id="saveStatusMsg"></p>
</body>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/saveResult.js') }}"></script>
{% endblock %}
{% block footer %}
    {%include "partials/footer.html" %}
    {% block how_to_use %}
    <p><strong>How to Use:</strong> Save the result permamently by entering a keyword and clicking Save to Table, or choose a letter from the dropdown to save as a variable while using the website.</p>
    {% endblock %}
{% endblock %}